<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="kr.co.purpleworks.cordova.modal"
      version="0.0.1">

    <name>Modal</name>
    <description>Cordova Modal Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,modal</keywords>
    <repo>https://github.com/purpleworks-developer/cordova-plugin-modal.git</repo>

    <engines>
      <engine name="cordova" version=">=3.1.0" /><!-- Needs cordova/urlutil -->
    </engines>

    <js-module src="www/modal.js" name="Modal">
        <clobbers target="modal" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Modal">
                <param name="android-package" value="kr.co.purpleworks.cordova.modal.Modal"/>
            </feature>
        </config-file>

        <source-file src="src/android/Modal.java" target-dir="src/kr/co/purpleworks/cordova/modal" />
        <source-file src="src/android/ModalActivity.java" target-dir="src/kr/co/purpleworks/cordova/modal" />

        <!--  drawable src/android/resources -->
        <resource-file src="src/android/res/anim/hold.xml" target="res/anim/hold.xml" />
        <resource-file src="src/android/res/anim/bottom_in.xml" target="res/anim/bottom_in.xml" />
        <resource-file src="src/android/res/anim/bottom_out.xml" target="res/anim/bottom_out.xml" />

        <config-file target="AndroidManifest.xml" parent="application">
            <activity android:name="kr.co.purpleworks.cordova.modal.ModalActivity"></activity>
        </config-file>
<!--         <source-file src="src/android/InAppBrowserDialog.java" target-dir="src/org/apache/cordova/inappbrowser" /> -->
<!--         <source-file src="src/android/InAppChromeClient.java" target-dir="src/org/apache/cordova/inappbrowser" /> -->

        <!--  drawable src/android/resources -->
<!--         <resource-file src="src/android/res/drawable-hdpi/ic_action_next_item.png" target="res/drawable-hdpi/ic_action_next_item.png" /> -->
<!--         <resource-file src="src/android/res/drawable-mdpi/ic_action_next_item.png" target="res/drawable-mdpi/ic_action_next_item.png" /> -->
<!--         <resource-file src="src/android/res/drawable-xhdpi/ic_action_next_item.png" target="res/drawable-xhdpi/ic_action_next_item.png" /> -->
<!--         <resource-file src="src/android/res/drawable-xxhdpi/ic_action_next_item.png" target="res/drawable-xxhdpi/ic_action_next_item.png" /> -->

<!--         <resource-file src="src/android/res/drawable-hdpi/ic_action_previous_item.png" target="res/drawable-hdpi/ic_action_previous_item.png" /> -->
<!--         <resource-file src="src/android/res/drawable-mdpi/ic_action_previous_item.png" target="res/drawable-mdpi/ic_action_previous_item.png" /> -->
<!--         <resource-file src="src/android/res/drawable-xhdpi/ic_action_previous_item.png" target="res/drawable-xhdpi/ic_action_previous_item.png" /> -->
<!--         <resource-file src="src/android/res/drawable-xxhdpi/ic_action_previous_item.png" target="res/drawable-xxhdpi/ic_action_previous_item.png" /> -->

<!--         <resource-file src="src/android/res/drawable-hdpi/ic_action_remove.png" target="res/drawable-hdpi/ic_action_remove.png" /> -->
<!--         <resource-file src="src/android/res/drawable-mdpi/ic_action_remove.png" target="res/drawable-mdpi/ic_action_remove.png" /> -->
<!--         <resource-file src="src/android/res/drawable-xhdpi/ic_action_remove.png" target="res/drawable-xhdpi/ic_action_remove.png" /> -->
<!--         <resource-file src="src/android/res/drawable-xxhdpi/ic_action_remove.png" target="res/drawable-xxhdpi/ic_action_remove.png" /> -->

    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Modal">
                <param name="ios-package" value="PPDModal" />
            </feature>
        </config-file>

        <header-file src="src/ios/PPDModal.h" />
	      <source-file src="src/ios/PPDModal.m" />

        <header-file src="src/ios/PPDModalViewController.h" />
        <source-file src="src/ios/PPDModalViewController.m" />

        <resource-file src="src/ios/PPDModalViewController.xib" />
    </platform>

</plugin>
